<div class="dp-nav-div">
  <ul class="nav justify-content-start dp-nav">
    <li class="nav-item">
      <a class="nav-link" href="/customer-area">¡Bienvenido <%=user.firstName%>!</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Perfil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/customer-hist">Historial de reservas</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="/servicios">Servicios Activos</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/logout"> Log Out </a>
    </li>
  </ul>
</div>
