<% if (user && !user.isProvider) { %>

  <% include ./partials/customer-nav %>

  <div id="customer-area-services">
    <form action="/customer-area" method="POST">
      <h3>Contratar un servicio</h3>
      <div class="form">
        <div class="form-group">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de servicio:</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="category">
            <option selected>Escoge...</option>
            <option value="PELUQERIA">Peluquería</option>
            <option value="PASEO">Paseo</option>
            <option value="GUARDERIA">Guardería</option>
            <option value="VETERINARIO">Veterinario</option>
          </select>
        </div>


        <label class="mr-sm-2" for="date">Hora</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" name="date">
          <option selected>Escoge...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="3">4</option>
        </select>


      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <% } else if(user && user.isProvider) {%>

  <% include ./partials/customer-nav %>
  <div class="provider-area">
    <h2>Bienvenido a tu área privada en Días Perros.</h2>
  </div>
<% } %>
