
  <div class="main-navbar">
    <div class="brand-logo">
      <img src="/images/dias-perros-logo-65.png">
    </div>
    <nav class="main-menu">
      <ul>
        <li><a href="/signup">Registrarme</a></li>
        <li><a href="/login">Iniciar Sesión</a></li>
      </ul>
    </nav>
  </div>
  <header class="splash-landing" id="landing-header">
    <h1>DÍAS PERROS</h1>
    <p class="lead">
      Días perros es tu plataforma de servicios para mascotas.
    </p>
  </header>
  <section class="features-list">
    <h2>Nuestros Servicios</h2>
    <ul class="big-features row">
      <li>
        <img src="/images/guarderia.png" class="feature-icon">
        <h3>Guardería</h3>
        <p>No sufras cuando te vayas de viaje. Deja a tu mascota con una familia.</p>
      </li>
      <li>
        <img src="/images/emergencias.png" class="feature-icon">
        <h3>Veterinario 24h</h3>
        <p>Te mandamos a un especialista a casa en unas horas.</p>
      </li>
      <li>
        <img src="/images/paseo.png" class="feature-icon">
        <h3>Paseos</h3>
        <p>¿No puedes pasear a tu perro esta semana? Nosotros lo hacemos por ti.</p>
      </li>
      <li>
        <img src="/images/peluqueria.png" class="feature-icon">
        <h3>Peluquería</h3>
        <p>El estilo más rompedor en a la puerta de tu casa.</p>
      </li>
    </ul>
  </section>
  <section class="dp-background row columns two" id="yeezy">
    <div class="col">
      <h2>¿Quieres trabajar con nosotros?</h2>
      <ul class="standard-features">
        <li>
          <h4>Más ingresos</h4>
          <p>En días perros te acercamos a nuevos clientes y a sus mascotas.</p>
        </li>
        <li>
          <h3>Menos preocupaciones</h3>
          <p>Facilitamos el proceso de reservas y gestionamos la facturación.</p>
        </li>
        <li>
          <h3>¿Listo para trabajar con nosotros?</h3>
          <p>¿Estás preparado para empezar a ofrecer servicios en nuestra plataforma?</p>
        </li>
      </ul>
    </div>
    <a href="/signup-provider" class="btn btn-work align-middle" role="button" aria-pressed="true">Registrarme</a>
  </section>
  <div class="splash-event" id="landing-event">
    <h2>DÍAS DE PERROS</h2>
    <p class="lead">
      Ven a pasear con nosotros cada primer domingo de mes en la Casa de Campo.
    </p>
    <a href="https://www.meetup.com/es-ES/topics/dogs/es/madrid/" class="btn btn-primary" role="button" aria-pressed="true">Unirse al MeetUp</a>
  </div>
  <footer class="pd-footer">
    <ul class="big-features row">
      <li>
        <p>Atención al Cliente</p>
      </li>
      <li>
        <p>Equipo</p>
      </li>
      <li>
        <p>Prensa</p>
      </li>
      <li>
        <p>Legal</p>
      </li>
    </ul>
  </footer>
